* {
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}

header, main{
    width: 60%;
    min-width: 800px;
    margin: 0 auto;
}

header{
    margin-bottom: 20px;
}

.hidden{
    display: none;
}

.movie-info{
    width: 100%;
}

.movie-info ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.movie-info li{
    width: 25%;
    padding: 10px;
    list-style-type: none;
    position: relative;
}

.js-movie-link{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

img.title-poster{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    box-shadow: 3px 3px #bfbfbf;
}

.movie-info h3{
    margin: 5px 0;
}

.movie-info p{
    margin: 0;
    font-weight: 300;
}